<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="googlechrome" />
  <package id="tor-browser" />
  <package id="itunes" />
  <package id="ffftp" />
  <package id="wget" />

  <package id="dotnet4.5" />
  <package id="dotnet4.6.2 " />
  <package id="vcredist2005" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2012" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="directx" />
  <package id="xna31" />
  <package id="silverlight" />
  <package id="flashplayeractivex" />
  <package id="flashplayerppapi" />
  <package id="flashplayerplugin" />
  <package id="adobeair" />
  <package id="jre8" />
  <package id="graphviz" />
  <package id="powershell" />

  <package id="git" />
  <package id="tortoisegit" />

  <package id="nodist" />
  <package id="yarn" />

  <package id="7zip" />
  <package id="7zip.commandline" />
  <package id="peazip" />

  <package id="vlc" />
  <package id="everything" />
  <package id="aimp" />

  <package id="reaper" />
  <package id="foobar2000" />
  <package id="audacity" />
  <package id="audacity-lame" />
  <package id="mp3tag" />

  <package id="gimp" />
  <package id="pngoo" />
  <package id="magicavoxel" />
  <package id="screentogif" />

  <package id="obs-studio" />

  <package id="libreoffice-fresh" />
  <package id="adobereader" />

  <package id="ultradefrag" />
  <package id="lockhunter" />

  <package id="virtualbox" />
  <package id="vagrant" />

  <package id="visualstudiocode" />

  <package id="meteor" />
  <package id="mysql" />
  <package id="openssh" />
  <package id="putty" />

  <package id="unity" />
  <package id="jdk8" />
  <package id="python" />
  <package id="ant" />
  <package id="android-sdk" />

  <package id="steam" />
  <package id="minecraft" />
</packages>
